* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav .nav-links {
    
    list-style: none;
    background-color: #474444;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {

    display: inline-block; 
    margin: 0 7px;  
}

nav li a {
    text-decoration: none;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 11px;
    color: rgb(187, 177, 177);
    display: inline-block;
    padding: 13px 10px;
    font-weight: 500;
}

img{
    background-color: #474444;
}
a:hover {
    color: white;
    cursor: pointer;
}

body {

   height: 100vh;
}

.footer {
    
}